.scavanger-hunt-container{padding-bottom: 50px;}
.scavanger-hunt-content{background-color: #e9ecef8c; box-shadow: 0px 5px 30px 10px #aaaaaa8c; color: #487391;;}
.page-title {height: 80px; color:#487391;}
h4, h4 a, .page-link {color: #487391;}
.french-content{color: #284050;}
