.user-question{
	background-color: #e12e1c;
	font-size: 20px;
}
/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
	display: inline-block;
	left: 25px;
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #f39c12;
	color: #f39c12;
	animation: dotFlashing 1s infinite linear alternate;
	animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-flashing::before {
	left: -15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #f39c12;
	color: #f39c12;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 0s;
}

.dot-flashing::after {
	left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #f39c12;
	color: #f39c12;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 1s;
}

@keyframes dotFlashing {
	0% {
		background-color: #f39c12;
	}
	50%,
	100% {
		background-color: #ebe6ff;
	}
}

.presenterContainer{
	margin-top: 100px;
	position:fixed;
}
.presenterContainer .leftSide{
	height:100vh;
}
.hostChat #inbox {
	margin: 0;
}

.hostChat #inbox .email-list {
	width: 100% !important;
}

.hostChat #inbox .email-list .wrap-list {
	width: 100% !important;
}

.hostChat #inbox .email-list .messages-list {
	overflow-y: auto !important;
	position: unset;
	max-height: 310px;
	border-bottom: 1px solid #d2d2d259;
}

.hostChat .wrap-messages {
	max-height: 340px;
	width: 100%;
	height: 100%;
	float: left;
}

.hostChat .input-group-addon img {
	width: 25px;
	object-fit: contain;
	height: 20px;
}

.hostChat .row {
	margin: 0;
	float: left;
	margin-top: -25px;
	padding: 0 5px;
}
.hostChat #emojis_section img {
	width: 40px; height: 40px; padding: 5px;
}
.questionFavorites #myTab1 li {
	width: 50% !important;
	background-color: #b2b7bb;
}.questionFavorites #myTab1 li.active {
	 background-color: #5f5f5f !important;
 }
.questionFavorites #myTab1 li a{
	color: white;
	padding: 11px;
}
.questionFavorites .tab-content{
	max-height: 352px;
	overflow: auto;
}
.stickyTimer{
	width: 500px;
	height: 40px;
	position: absolute;
	top: 67px;
	right: 0;
	padding-right: 25px;
}
.stickyTimer .timer{
	font-size: 21px;
	/*color: #3c3c3c;*/
	color: white;
	display: inline-block;
	float: right;
}
.stickyTimer .viewUser{
	/*background-color: #000000c7;*/
	background-color: #151515;
	width: max-content;
	color: white;
	display: inline-block;
	padding: 1px 8px;
	border-radius: 25px;
	font-size: 16px;
	float: left;
	margin-top: 4px;

}
.stickyTimer .viewUser span:nth-of-type(1){
	background-color: red;
	color: white;
	font-size: 15px;
	padding: 0px 6px;
	border-radius: 5px;
}
.stickyTimer .viewUser i{
	margin-left: 5px;
	margin-right: 5px;
}
.navbar-toggle .icon-bar{
	background-color: #3c3c3c;
}
.presenterRightSticykPopup .header span a{
	color: white;
}
.presenterRightSticykPopup .header span a:hover{
	color: #f2ffd1;
}
.messages-list .messages-item .messages-item-subject{
	font-size: 14px !important;
}
