/************* Main Page **************/
.briefcase-container{padding-bottom: 50px;}
.briefcase-container h1{color: #487391;}
.briefcase-items h2, .briefcase-items h3{color: #284050;}
.briefcase-items{background-color: #e9ecef8c;box-shadow: 0px 5px 30px 10px #aaaaaa8c;}
.briefcase-items .container-fluid {}

.briefcase-items .table, .briefcase-items a {color: #487391;}
a.btn-info{color: #FFF;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	color: #487391
}

.briefcase-items table.table-bordered{
    border: 1px solid #487391;
}
.briefcase-items table.table-bordered th{
	border: 1px solid #487391;
	border-top: 0px solid #487391;
	border-bottom: 0px solid #487391;
}

.briefcase-items table.table-bordered td{border: 1px solid #487391;}

.dataTables_length label, .dataTables_info, #itineraiesTable_filter label, .page-link {color: #284050;}

.sessions-listing-item{background-color: #e9ecef8c;box-shadow: 0px 5px 30px 10px #aaaaaa8c;}

.sessions-listing-item .container-fluid {min-height: 210px;}

/************** View Page *************/
#full-screen-background.briefcase-view{background-color: #e3e3e3;}
.briefcase-view-container{height: 100vh;}
.live-stream-container{height: 100%;background-color: black;}
.middleText{position: absolute;width: auto;height: 50px;top: 30%;left: 45%;margin-left: -50px; /* margin is -0.5 * dimension */margin-top: -25px;color: #c6c6c6;}

/* Add your custom css styles */

/*****************************/
/*      COMMENTS POPUP       */
/*****************************/
#comments-list .pull-right, #notes-list .pull-right, .eposters-listing-item .pull-right{
  float:right;
}
#comments-list .pull-left, #notes-list .pull-left, .eposters-listing-item .pull-left{
  float:left;
}
#comments-list, #notes-list{
  /*background:#fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  color: #4b4f56;
  padding:50px;*/
}
#comments-list .header_comment, #notes-list .header_comment, #notes-list .header_note, #notes-list .header_note {
	font-size: 14px;
	overflow: hidden;
	border-bottom: 1px solid #e9ebee;
	line-height: 25px;
	margin-bottom: 24px;
	padding: 10px 0;
}
#notes-list .header_note, #notes-list .header_note {
	border-bottom: 0px;
	margin-bottom: 10px;
	padding: 0px;
}
}
#comments-list .sort_title, #notes-list .sort_title{
  color: #4b4f56;
}
#comments-list .sort_by, #notes-list .sort_by{
  background-color: #f5f6f7;
  color: #4b4f56;
  line-height: 22px;
  cursor: pointer;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  padding: 4px;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #ccd0d5;
}
#comments-list .count_comment, #comments-list .count_comment strong, #notes-list .count_note, #notes-list .count_note strong{
  font-weight: 600;
}
#comments-list .body_comment, #notes-list .body_note{
  padding: 0 8px;
  font-size: 14px;
  display: block;
  line-height: 25px;
  word-break: break-word;
}
#comments-list .avatar_comment, #notes-list .avatar_note{
  display: block;
  padding: 0px;
}
#comments-list .box_comment, #notes-list .box_note{
	display: block;
	position: relative;
	line-height: 1.358;
	word-break: break-word;
	border: 1px solid #d3d6db;
	word-wrap: break-word;
	background: #fff;
	box-sizing: border-box;
	cursor: text;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 0;
}
#comments-list .box_comment textarea,
#notes-list .box_note textarea{
	min-height: 40px;
	padding: 12px 8px;
	width: 100%;
	border: none;
	resize: none;
}
#comments-list .box_comment textarea:focus, #notes-list .box_note textarea:focus{
  outline: none !important;
}
#comments-list .box_comment .box_post, #notes-list .box_note .box_post{
	border-top: 1px solid #d3d6db;
	background: #f5f6f7;
	padding: 4px;
	display: block;
	overflow: hidden;
}
#comments-list .box_comment label, #notes-list .box_note label{
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #90949c;
  line-height: 22px;
}
#comments-list .box_comment button, #notes-list .box_note button{
  margin-left:8px;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
#comments-list .box_comment .cancel, 
#notes-list .box_note .cancel{
	margin-left:8px;
	background-color: #f5f6f7;
	color: #4b4f56;
	text-decoration: none;
	line-height: 22px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-align: center;
	border-color: #ccd0d5;
}
#comments-list .box_comment .cancel:hover, 
#notes-list .box_note .cancel:hover{
	background-color: #d0d0d0;
	border-color: #ccd0d5;
}
#comments-list .box_comment img,
#notes-list .box_note img{
  height:16px;
  width:16px;
}
#comments-list .box_result,
#notes-list .box_result{
  padding-top: 15px;
  padding-bottom: 15px;
}

#comments-list .box_result:not(:first-child), #notes-list .box_result:not(:first-child){
  border-top: solid 1px #e9ebee;
}
#comments-list .box_result .result_comment h4, #notes-list .box_result .result_note h4{
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin:0;
}
#comments-list .box_result .result_comment,
#notes-list .box_result .result_note{
  display:block;
  overflow:hidden;
  padding: 0;
}
#comments-list .box_result .result_comment p, #notes-list .box_result .result_note p{
  margin: 4px 0;
  text-align:justify;
}
#comments-list .box_result .result_comment .tools_comment, #notes-list .box_result .result_note .tools_note{
  font-size: 12px;
  line-height: 1.358;
}
#comments-list .box_result .result_comment .tools_comment a, 
#notes-list .box_result .result_note .tools_note a{
  color: #4267b2;
  cursor: pointer;
  text-decoration: none;
}
#comments-list .box_result .result_comment .tools_comment span, #notes-list .box_result .result_note .tools_note span{
  color: #90949c;
}
.body_comment .show_more, .body_note .show_more{
  background: #3578e5;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  padding: 12px;
  text-shadow: none;
  width: 100%;
  font-weight:bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.direct-chat-img {
  border-radius: 50%;
  float: left;
  height: 40px;
  width: 40px;
}

.right .direct-chat-img {
  float: right;
}
