/************* Listing Page **************/
.eposters-container, .eposters-view-container, .no-eposter-found
{
	padding-bottom: 50px;
}

.eposters-listing-item
{
	background-color: #e9ecef8c;
	box-shadow: 0px 5px 30px 10px #aaaaaa8c;
}

.page-title
{
	height: 80px;
	color:#487391;
}

.btn.not-allowed
{
  cursor: not-allowed !important;
}
/************** Join Page *************/
#full-screen-background.eposters-join
{
	background-color: #e3e3e3;
}

.eposter-join-info
{
	background-color: #e9ecef8c;
	box-shadow: 0px 5px 30px 10px #aaaaaa8c;
}

.eposter-join-title
{
	background-color: #cecece;
	color: #555;
	font-size: 1.3rem;
	font-weight: bold;
}
.author, .form-check-label{
	color: #487391;
}

/************** View Page *************/
#full-screen-background.eposters-view
{
	background-color: #e3e3e3;
}

.eposters-view-container
{
	height: 100vh;
}
.no-eposter-found
{
	height: 60vh;
	/*padding-bottom: 0px;*/
	padding: 0px;
}

.live-stream-container
{
	height: 100%;
	background-color: black;
}
.img-prize, .img-prize-detail {
	background: 0 0;
	border-color: #487391;
	border: 0;
}
h4, h4 a, .page-link{
	color: #487391;
}
.tooltip-arrow, .comments + .tooltip > .tooltip-inner {background-color: #487391;}

.img-prize-detail {
	border-color: #FFFFFF;
}

.eposters-listing-item .container-fluid {
	min-height: 210px;
}

.middleText
{
	position: absolute;
	width: auto;
	height: 50px;
	top: 30%;
	left: 45%;
	margin-left: -50px; /* margin is -0.5 * dimension */
	margin-top: -25px;
	color: #c6c6c6;
}

.no-eposter-found .middleText
{
	top: 50%;
}

/*****************************/
/*  NEXT | PREVIOUS BUTTONS  */
/*****************************/
.eposter_view-browse {
	position: absolute;
	top: 40%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	visibility: visible;
	z-index: 99;
	width: 26px;
	margin: 0 15px;
	font-size: 45px;
	opacity: 1;
	border: none;
	background: 0 0;
	cursor: pointer;
	-webkit-transition: visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
	transition: visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
}
.eposter_view-browse:disabled {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
	transition: visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
}
.eposter_view-browse {
	width: 0.87em;
	height: 1.5em;
}
a.eposter_view-browse{
	color:  #487391;
}
a.eposter_view-browse:active, a.eposter_view-browse:hover {
	-webkit-transition: fill 0.1s ease-in-out;
	transition: fill 0.1s ease-in-out;
}
.eposter_view-browse--right {
	position: absolute;
	right: 0;
	left: auto;
}
/*****************************/
/*  /NEXT | PREVIOUS BUTTONS */
/*****************************/

/*****************************/
/*       RIGHT BUTTONS       */
/*****************************/
.tool-btns a{
	top:60%;
	position:fixed;
	right:0px;
	z-index: 1000;/*
	transform: rotate(-90deg);*/
	background-color: red;
	padding:5px 8px 40px;
	height: 0px;
	background-color: #487391;
	color:#fff;
}
.tool-btns.prize a{
	top:15%;
	background: 0 0;
	padding: 5px;
}
.tool-btns.btn-cstm-third a{
	top:70%;
}
.tool-btns.btn-cstm-fourth a{
	top:80%;
}
.tool-btns.btn-cstm-first a{
	top: 50%;
}
.tool-btns a:hover{
	text-decoration: none;
	color:#f7dfe9;
}
/********************/

#enlargeable{
	cursor: zoom-in;
}
/*****************************/
/*      /RIGHT BUTTONS       */
/*****************************/

/*****************************/
/*      COMMENTS POPUP       */
/*****************************/
#comments-list .pull-right, #notes-list .pull-right, .eposters-listing-item .pull-right{
  float:right;
}
#comments-list .pull-left, #notes-list .pull-left, .eposters-listing-item .pull-left{
  float:left;
}
#comments-list, #notes-list{
  /*background:#fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  color: #4b4f56;
  padding:50px;*/
}
#comments-list .header_comment, #notes-list .header_comment, #notes-list .header_note, #notes-list .header_note {
	font-size: 14px;
	overflow: hidden;
	border-bottom: 1px solid #e9ebee;
	line-height: 25px;
	margin-bottom: 24px;
	padding: 10px 0;
}
#notes-list .header_note, #notes-list .header_note {
	border-bottom: 0px;
	margin-bottom: 10px;
	padding: 0px;
}
}
#comments-list .sort_title, #notes-list .sort_title{
  color: #4b4f56;
}
#comments-list .sort_by, #notes-list .sort_by{
  background-color: #f5f6f7;
  color: #4b4f56;
  line-height: 22px;
  cursor: pointer;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  padding: 4px;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #ccd0d5;
}
#comments-list .count_comment, #comments-list .count_comment strong, #notes-list .count_note, #notes-list .count_note strong{
  font-weight: 600;
}
#comments-list .body_comment, #notes-list .body_note{
  padding: 0 8px;
  font-size: 14px;
  display: block;
  line-height: 25px;
  word-break: break-word;
}
#comments-list .avatar_comment, #notes-list .avatar_note{
  display: block;
  padding: 0px;
}
#comments-list .box_comment, #notes-list .box_note{
	display: block;
	position: relative;
	line-height: 1.358;
	word-break: break-word;
	border: 1px solid #d3d6db;
	word-wrap: break-word;
	background: #fff;
	box-sizing: border-box;
	cursor: text;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 0;
}
#comments-list .box_comment textarea,
#notes-list .box_note textarea{
	min-height: 40px;
	padding: 12px 8px;
	width: 100%;
	border: none;
	resize: none;
}
#comments-list .box_comment textarea:focus, #notes-list .box_note textarea:focus{
  outline: none !important;
}
#comments-list .box_comment .box_post, #notes-list .box_note .box_post{
	border-top: 1px solid #d3d6db;
	background: #f5f6f7;
	padding: 4px;
	display: block;
	overflow: hidden;
}
#comments-list .box_comment label, #notes-list .box_note label{
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #90949c;
  line-height: 22px;
}
#comments-list .box_comment button, #notes-list .box_note button{
  margin-left:8px;
  text-decoration: none;
  line-height: 22px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
#comments-list .box_comment .cancel, 
#notes-list .box_note .cancel{
	margin-left:8px;
	background-color: #f5f6f7;
	color: #4b4f56;
	text-decoration: none;
	line-height: 22px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-align: center;
	border-color: #ccd0d5;
}
#comments-list .box_comment .cancel:hover, 
#notes-list .box_note .cancel:hover{
	background-color: #d0d0d0;
	border-color: #ccd0d5;
}
#comments-list .box_comment img,
#notes-list .box_note img{
  height:16px;
  width:16px;
}
#comments-list .box_result,
#notes-list .box_result{
  padding-top: 15px;
  padding-bottom: 15px;
}

#comments-list .box_result:not(:first-child), #notes-list .box_result:not(:first-child){
  border-top: solid 1px #e9ebee;
}
#comments-list .box_result .result_comment h4, #notes-list .box_result .result_note h4{
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.358;
  margin:0;
}
#comments-list .box_result .result_comment,
#notes-list .box_result .result_note{
  display:block;
  overflow:hidden;
  padding: 0;
}
#comments-list .box_result .result_comment p, #notes-list .box_result .result_note p{
  margin: 4px 0;
  text-align:justify;
}
#comments-list .box_result .result_comment .tools_comment, #notes-list .box_result .result_note .tools_note{
  font-size: 12px;
  line-height: 1.358;
}
#comments-list .box_result .result_comment .tools_comment a, 
#notes-list .box_result .result_note .tools_note a{
  color: #4267b2;
  cursor: pointer;
  text-decoration: none;
}
#comments-list .box_result .result_comment .tools_comment span, #notes-list .box_result .result_note .tools_note span{
  color: #90949c;
}
.body_comment .show_more, .body_note .show_more{
  background: #3578e5;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-top: 24px;
  padding: 12px;
  text-shadow: none;
  width: 100%;
  font-weight:bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.direct-chat-img {
  border-radius: 50%;
  float: left;
  height: 40px;
  width: 40px;
}

.right .direct-chat-img {
  float: right;
}
