.lobby-container
{
	padding-bottom: 50px;
}

.banner
{
	border: 5px solid #f0f0f0;
}

.main-banner
{

}

.side-banner-1
{

}

.side-banner-2
{

}

.lobby-content{
	background-image: url("/theme_assets/default_theme/images/background-images/lobby_bg.png");
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	overflow-y: auto;
}

.lobby-content .custom-container{
	width: 970px;
	max-width: 100%;
	height: max-content;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	margin: auto;
	text-align: center;
}

.lobby-content .custom-container .menu .circle{
	width: 320px;
	max-width: 100%;
	color: white;
	text-align: center;
	display: inline-block;
	margin-bottom: 50px;
	text-decoration: none;
	vertical-align: middle;
}

.lobby-content .custom-container .menu .circle .icon{
	width: 100%;
	height: 160px;
	background-size: 151px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.lobby-content .custom-container .menu .circle:nth-of-type(1) .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_normal/1.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(1):hover .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_active/1.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(2) .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_normal/2.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(2):hover .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_active/2.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(3) .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_normal/3.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(3):hover .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_active/3.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(4) .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_normal/4.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(4):hover .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_active/4.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(5) .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_normal/5.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(5):hover .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_active/5.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(6) .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_normal/6.png");
}

.lobby-content .custom-container .menu .circle:nth-of-type(6):hover .icon{
	background-image: url("/theme_assets/default_theme/images/lobby/Buttons_active/6.png");
}

.lobby-content .custom-container .menu .circle h3{
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 2px;
	color: #16354a;
	font-weight: 700;
	text-shadow: 0 0 6px white;
}

.lobby-content .support-button{
	background-image: url(/theme_assets/default_theme/images/lobby/Buttons_normal/support.png);
	position: absolute;
	right: 170px;
	bottom: 30px;
	width: 180px;
	height: 54px;
	background-repeat: no-repeat;
	background-size: 180px;
}

@media screen and (max-width: 992px) {
	.lobby-content .custom-container .menu .circle{
		width: 240px;
	}
}

@media screen and (max-width: 745px) {
	.lobby-content .custom-container .menu .circle{
		width: 180px;
		height: max-content;
	}

	.lobby-content .custom-container .menu .circle .icon{
		background-size: 100px;
		height: 105px;
	}
}

@media screen and (max-width: 568px) {
	.lobby-content .custom-container{
		position: unset;
		margin-top: 85px;
	}

	.lobby-content .support-button{
		display: block;
		position: unset;
		width: 180px;
		margin: 0 auto;
	}
}



/* Not for mobiles */
@media screen and (max-width: 768px)
{
	.not-for-mobile
	{
		display: none;
	}
}

/* Only for mobiles */
@media screen and (min-width: 769px)
{
	.only-for-mobile
	{
		display: none;
	}
}

/* sm screen */
@media (min-width: 576px)
{

}

/* md screen */
@media (min-width: 768px)
{

}

/* lg screen */
@media (min-width: 992px)
{

}

/* xl screen */
@media (min-width: 1200px)
{

}
