.live-support-open-button {
    z-index: 10;
    background-color: #07c;
    color: white;
    padding: 5px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 140px;
    font-weight: bold;
    margin-top: -5px;
    border-radius: 20px;
}

.live-support-chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #e3e3e3;
    border: 3px solid #f1f1f1;
    z-index: 11;
    width: 350px;
    height: 535px;
}

.live-support-chat-title{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
	float: right;
    text-align: center;
    color: black;
    border-bottom: 2px solid gray;
    padding: 3px 5px;
    background: #ddd;
}

.live-support-chat-body{
    height: 85%;
    margin-top: 50px;
}

.live-support-chat-texts{
    height: 89%;
    overflow: scroll;
	width: 100%;
}

.live-support-text-admin{
	margin-top: 10px;
    display: block;
    text-align: left;
    width: 80%;
    padding: 0 10px 0 10px;
	border-radius: .3rem;
	background-color: #d2d6de;
	border: 1px solid #d2d6de;
	color: #444;
	float:left;

}

.live-support-admin-desc{
    font-weight: bold;
}

.live-support-admin-text{
    padding-left: 10px;
}

.live-support-text-attendee{
	margin-top: 10px;
    display: block;
    text-align: right;
    width: 80%;
	border-radius: .3rem;
    padding: 0 10px 0 10px;
	background-color: #6D8FA7;
	border-color: #6D8FA7;
	color: #fff;
	float:right

}

.live-support-attendee-desc{
    font-weight: bold;
}

.live-support-attendee-text{
    padding-right: 10px;
}

.end-chat-btn {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #ff5353;
    width: 100%;
}
.end-chat-btn:hover {
    color: white;
    background-color: #ff3434;
}
